/* repo card */
.repo-card .header {
  padding: 3px 0 4px 57px;
}
.repo-card .avatar, .repo-card .avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 4px;
}
.repo-card .header a {
  color: #707070;
}
.repo-card .header strong {
  display: block;
  font-size: 18px;
  line-height: 1.4;
}
.repo-card .header strong a {
  color: #292f33;
}
.repo-card .header sup {
  font-size: 10px;
  margin-left: 3px;
  color: #797979;
}
.repo-card .content {
  padding: 6px 0 10px;
}
.repo-card .content p {
  margin: 0 5px 0 0;
  font: 18px/24px Georgia, "Times New Roman", Palatino, serif;
  overflow: hidden;
  clear: both;
  word-wrap: break-word;
}
.repo-card .footer {
  border-top: 1px solid #eee;
  padding: 8px 0 6px;
}
.repo-card .status {
  font-size: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
.repo-card .status strong {
  font-size: 12px;
  padding-right: 5px;
}