
body {
  text-align center;
  background-color #FFF;
  color #535353;
  font-family "Trebuchet MS", Helvetica, sans-serif;
}

a, a:visited {
  color #08C;
}

a:hover, a:active, a:focus {
  color #005580;
}