.my-name
  text-align center


.my-photo
  margin-bottom 12px
  border-radius 8px

@media only screen and (min-width: 768px)
  .my-name
    font-size 100px
  .my-photo
    width 320px
  .tagline
    font-size 18px

@media only screen and (max-width: 767px)
  .my-name
    font-size 80px
  .my-photo
    width 240px
  .tagline
    font-size 16px

@media only screen and (max-width: 512px)
  .my-name
    font-size 40px
  .my-photo
    width 160px
  .tagline
    font-size 16px